* {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 30px
}
body {
  line-height: 1.5;
  font-size: 15px;
  font-family: 'Segoe UI';
}

header {
  display: flex;
  padding: 40px;
  background-color: rgb(107, 0, 0);
}
#cr7-header {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}
.header-texto {
  color: white;
  width: 50%;
  text-align: center;
  align-content: center; 
  line-height: 1;
  font-family: Zen Dots;
  font-weight: 600;
   
}
.header-img {
  display: flex;
  width: 50%;
  justify-content: center;
}
nav {
  background-color: black;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: white;
  font-family: Zen Dots;
}

article{
  display: flex;
  padding: 20px;
}
#cr7-article{
  max-width: 500px;
}
.article-img{
  text-align: center;
  width: 50%;
  padding-right: 40px;
  border-right: 1px solid black;
}
.article-texto{
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  line-height: 2;
}
section{
  background-color: rgb(107, 0, 0);
  color: white;
  align-content: center;
  margin: 0 auto;
 

}
.times{
  width: 180px;
 
}
.titulos{
  margin: 0 auto; 
  align-items: center;
  
}
.titulos > tr , td{
  padding: 20px;
  font-size: 18px;
 
}
section > h1{
  text-align: center;
  padding: 20px 50px;
  
}

